<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912430197277-l3ok1l6faibhctg1kk8e95nfo2ojob2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912430197277-l3ok1l6faibhctg1kk8e95nfo2ojob2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDoYIFl0qrT_FspQ5VNOQyroEPxhgHE_2c</string>
	<key>GCM_SENDER_ID</key>
	<string>912430197277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-ab5eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-ab5eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912430197277:ios:c3b4d76ddb63409de1f4f4</string>
</dict>
</plist>